@import "../../style/variables"

.WikiPage
  min-height: 100%
  padding: 1em 0

  .Pathlinks
    > span
      margin: 0 0.5em

  .WikiIndexPage > input
    margin: 0 1em 1em 1em
    padding: 2px 5px
    background-color: black
    color: white
    border-color: $darkred
    outline-color: $darkred

  .WikiPagesListMember
    display: flex
    flex-direction: row
    &:not(:first-child) // not-header rows
      &:hover
        background-color: $darkred
        color: $white

    > *
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      // padding: 0 1em
      &:first-child // first column
        flex: 6 6
        .Link
          display: block
          padding: 0 1em
          overflow: hidden
          text-overflow: ellipsis
      &:not(:first-child) // other columns
        flex: 1 1
        @media only screen and (max-width: 812px)
          flex: 0 0 70px


    .TimeAgo
      color: #966b6b
    // &:first-child // first row
    //   > *:first-child
    //     padding: 0 1em

  .WikiPageEditor,
  .WikiPageHistory
    margin: 0 1em
