.WikiPage
  padding: 1em

  .Pathlinks
    > span
      margin: 0 0.5em


  .WikiPagesListMember
    display: flex
    flex-direction: row
    > *
      flex: 0 0 100px
      &:first-child
        flex: 1 1
