@import "../../style/variables.sass"

.Link
  text-decoration: none
  color: inherit
  // &:focus
  //   outline: 1px solid $dark-navy-blue
  &-text
    color: $dark-navy-blue
  &-link
    color: #0088cc
    &:hover, &:active
      text-decoration: underline
