.JournalEntriesPage
  padding: 0 1em 1em 1em

  table
    table-layout: fixed
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    tr
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    th
      text-align: left
    th, td
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      padding: 5px 0
      &:nth-child(1)
        width: auto
      &:nth-child(2)
        width: 90px
      &:nth-child(3)
        width: 90px
