-# tree Wiki::Page::Tree.new(pages).root


%p
  %input(type="text" class="search-query" placeholder="filter" data-filter-table="table.wiki-pages" autofocus)

%table.wiki-pages.table.sortable
  %thead
    %tr
      %th{'data-sort_type' => 'string'} Path
      %th{'data-sort_type' => 'date', 'data-default_sort' => true} Last Viewed
      %th{'data-sort_type' => 'date'} Last Updated
  %tbody
    - pages.each do |page|
      %tr
        %td= link_to wiki_page_title(page), wiki_page_path(page)
        %td{'data-date' => page.last_viewed_at.to_i, title: page.last_viewed_at}
          %div{'data-livestamp' => page.last_viewed_at.to_i}
        %td{'data-date' => page.updated_at.to_i, title: page.updated_at}
          %div{'data-livestamp' => page.updated_at.to_i}
