.container-fluid
  .well
    %h1 Please Authenticate

    = form_tag authentication_path do
      %input{name:'r', type: 'hidden', value: params[:r]}
      %input{name:'secret', type: 'password', autofocus: true}
      %input{type:'submit', class: 'btn btn-primary'}

