.container-fluid
  .well
    .pull-right
      = link_to 'New Journal entry', new_journal_entry_path


    %table.journal-entries.table.table-condensed.sortable
      %thead
        %tr
          %th.body Body
          %th.created-at{'data-sort_type' => 'date', 'data-default_sort' => true} Created At
      %tbody
        - @journal.each do |journal_entry|
          %tr
            %td
              .journal-entry-body
                &nbsp;
                = link_to journal_entry do
                  = journal_entry.body.gsub(/\n/,' ')
            %td{'data-date' => journal_entry.updated_at.to_i, title: journal_entry.updated_at}
              %div{'data-livestamp' => journal_entry.updated_at.to_i}
