.Layout

  &-topnav
    background: black
    color: white
    padding: 2px 1em
    display: flex
    flex-direction: row
    .Link:not(:last-child)
      margin-right: 1em
    &-spacer
      flex: 1 1
