.Layout
  position: relative
  min-height: 100vh

  $topnav-height: 24px
  &-topnav
    height: $topnav-height
    background: black
    color: white
    padding: 2px 1em
    display: flex
    flex-direction: row
    .Link:not(:last-child)
      margin-right: 1em
    &-spacer
      flex: 1 1

  &-main
    min-height: calc(100vh - #{$topnav-height})
    height: 1px
